.header {
  display: flex;
  justify-content: space-between;

  align-items: center;
  margin-bottom: 16px;
  border-bottom: 1px solid #00b2fe;
  width: 860px;
  margin-top: 20px;
  margin-bottom: 20px;
}
